$letra: "Roboto", sans-serif;
body {
  background-color: aliceblue;
  font-family: $letra;
}
#resultado {
  h5 {
    margin-top: 6px;
  }
}
#footer {
  a {
    color: black;
    padding-right: 6px;
    font-size: 12px;
    display: flex !important;
    align-items: center !important;
  }
  p {
    padding-top: 3px;
    display: flex !important;
    align-items: end !important;
  }
  font-size: 14px !important;
  height: 3em !important;
  background-color: grey !important;
  display: flex !important;
  justify-content: center !important;
}
